<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이전 검색</title>
    <link rel="stylesheet" href="/recommend_previous.css">
</head>

<body>
    <!-- 좌상단 제목 -->
    <header>
        <h1 id="page-title">Let's Cook</h1>
    </header>

    <!-- 메인 컨테이너 -->
    <div class="container">
        <div class="title-box">
            <h2>내가 전에 추천받은 레시피</h2>
        </div>

        <!-- 내용이 들어갈 수 있는 큰 박스 -->
        <div class="content-box">
            <% for(let i = 0; i < recipes.length; i++ ){ %>
            <!--레시피 카드-->
            <div class="recipe-card" id="card<%= i %>">
                <!--요리명-->
                <div class="recipe-title">
                    <p>
                        <span class="title-label">요리명 : </span>
                        <span class="recipe-name-box" id="title<%= i %>"><%= recipes[i].Name %></span>
                        <span style="display:None;" id="date<%= i %>"><%= recipes[i].Recommend_Date %></span>
                        <span style="display:None;" id="status<%= i %>"><%= recipes[i].Like %></span>
                    </p>
                    <% if(recipes[i].Like === 0){ %>
                    <button class="like-button" id="like<%= i %>">좋아요</button>
                    <% } else { %>
                    <button class="like-button" id="like<%= i %>">좋아요 취소</button>
                    <% } %>
                </div>
                <!--재료 및 과정-->
                <div class="recipe-details">
                    <p>재료 : <span class="recipe-ingredient"><%= recipes[i].Ingredients %></span></p>
                    <p>과정 : <span class="recipe-process"><%= recipes[i].Process %></span></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <!-- 뒤로가기 버튼 -->
    <footer>
        <a href="/main" class="logout-button">뒤로가기</a>
    </footer>


    <script>
        // ingreds
        const recipe_ingreds = document.querySelectorAll('.recipe-ingredient');
        for(const ingred_block of recipe_ingreds){
            let ingred_txt = ingred_block.textContent;
            const ingreds = ingred_txt.split('\\n').filter(step => step.trim() !== '');
            ingred_block.innerHTML = '';
            const ulTag = document.createElement('ul');
            ingred_block.appendChild(ulTag);
            ingreds.forEach(ingred => {
                const liTag = document.createElement('p');
                liTag.textContent = ingred.trim();
                ulTag.appendChild(liTag);
            })
        }

        // process
        const recipe_process = document.querySelectorAll('.recipe-process');
        for(const process_block of recipe_process){
            let process_txt = process_block.textContent;
            const processes = process_txt.split('\\n').filter(step => step.trim() !== '');
            process_block.innerHTML = '';
            processes.forEach(process => {
                const pTag = document.createElement('p');
                pTag.textContent = process.trim();
                process_block.appendChild(pTag);
            })
        }


        // ajax
        const like_buttons = document.querySelectorAll('.like-button')
        like_buttons.forEach(like_button=>{
            like_button.addEventListener('click', function(){
                const recipe_num = like_button.getAttribute('id').replace('like', '')
                const Name = document.getElementById('title'+recipe_num).innerText
                const Date = document.getElementById('date'+recipe_num).innerText
                const Status = document.getElementById('status'+recipe_num).innerText
                fetch(`/recommend/like?Name=${Name}&Date=${Date}&Status=${Status}`, { method : 'POST' })
                .then((r)=>r.text())
                .then((r)=>{
                    const Status_tag = document.getElementById('status'+recipe_num)
                    if(Status==='0'){
                        Status_tag.innerText = '1'
                        like_button.innerText = "좋아요 취소"
                    }
                    else if(Status==='1'){
                        Status_tag.innerText = '0'
                        like_button.innerText = "좋아요"
                    }
                    })
            })
        })
        
    </script>
</body>
</html>